[Desktop Entry]
Name=KroModIx
Comment=Cross-platform mod manager for Steam games (extensible via plugins)
Exec=KroModIx
Icon=mod-manager
Type=Application
Categories=Game;Utility;
Terminal=false
